<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}


<body>




  {{ partial "header.html" . }}




  {{ partial "education/leader.html" . }}





  <!-- Start Process Area 
    ============================================= -->
{{ partial "education/process.html" . }}
  <!-- End Process Area -->




  {{ partial "education/contact_area.html" . }}





  {{ partial "education/seo.html" . }}




  {{ partial "education/setup.html" . }}












  {{ partial "education/testimonial1.html" . }}


  {{ partial "education/brand.html" . }}






  {{ partial "education/chooseus.html" . }}






  {{ partial "education/testimonial2.html" . }}
  






  {{ partial "footer.html" . }}




  {{ partial "scripts.html" . }}

</body>

</html>