<div
  class="about-style-three-area overflow-hidden bg-dark default-padding text-light"
  style="background-image: url(img/shape/37.png)"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="site-heading text-center">
          <h4 class="sub-title">How it works...</h4>
          <h2 class="title">
            RSS-to-email has never been easier. Include multiple RSS feeds in
            your email campaigns including articles, podcasts and videos.
          </h2>
          <div class="devider"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 about-style-three">
        <div class="thumb">
          <img
            src='{{ "img/illustration/34.png" | relURL }}'
            alt="Image not found"
          />
          <div class="sub-thumb">
            <img
              src='{{ "img/illustration/graph-4b.png" | relURL }}'
              alt="Thumb"
            />
          </div>
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1 about-style-three pt-xs-0 pt-80 pt-md-0">
        <h2 style="background-image: url(img/shape/1.jpg)">
          Boosting ROI & Engagement.
        </h2>
        <div class="list-item-three-box mt-50">
          <!-- Single Item -->
          <div class="list-style-three">
            <span>01</span>
            <div class="content">
              <h4>Automate content from multiple RSS feeds in your emails</h4>
              <p>
                We make it easy to include content from multiple RSS feeds in
                your email campaigns through our simple, code-free platform.
                These can represent categories or interest groups (such as Local
                News; Business News; Jobs; Sport; Fashion) or different channels
                (like Blog; Podcast; Videos).
              </p>
            </div>
          </div>
          <!-- End Single Item -->

          <!-- Single Item -->
          <div class="list-style-three">
            <span>02</span>
            <div class="content">
              <h4>Match your content to subscriber preferences</h4>
              <p>
                Each RSS Feed can be linked to an interest group, representing
                your subscribers' preferences. This ensures that the right
                content reaches the right people. You can also set any RSS feed
                to appear for everyone so all subscribers receive the content.
                You're in complete control.
              </p>
            </div>
          </div>
          <!-- End Single Item -->
        </div>
      </div>
    </div>
  </div>
</div>
