<div
  class="banner-style-three-area text-center bg-cover text-light"
  style="background-image: url(img/shape/36.png)"
>
  <div class="animate-shape">
    <img
      src='{{ "img/illustration/cloud.png" | relURL }}'
      alt="Image not found"
    />
    <img
      src='{{ "img/illustration/cloud2.png" | relURL }}'
      alt="Image not found"
    />
  </div>

  <!-- Single Item -->
  <div class="banner-style-three">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="info">
              <h4>Get the right content, to the right people</h4>
              <h2>Personalised emails at scale, made easy</h2>
              <ul style="list-style: none; display: inline; color: white">
                <li style="display: inline; color: white">
                  Increase open rates |
                </li>
                <li style="display: inline; color: white">
                  Save hours of time |
                </li>
                <li style="display: inline; color: white">
                  Achieve higher engagement |
                </li>
                <li style="display: inline; color: white">
                  Create happy subscribers
                </li>
              </ul>
              <div class="button mt-40">
                <a
                  href="https://www.youtube.com/watch?v=eCfcvkJPq-o"
                  class="popup-youtube video-play-button optional light with-text"
                >

                {{/*  https://www.youtube.com/watch?v=eCfcvkJPq-o  */}}
                  <div class="effect"></div>
                  <span><i class="fas fa-play"></i> How FlipRSS works</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 offset-lg-2">
            <div class="thumb">
              <img src='{{ "img/illustration/24.png" | relURL }}' alt="Thumb" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="shape-bottom-center"
      style="background-image: url('{{ "img/shape/5.png" | relURL }}')"
    ></div>
    <div
      class="shape-top-right"
      style="background-image: url('{{ "img/shape/6.png" | relURL }}')"
    ></div>
    <div
      class="shape-left-top"
      style="background-image: url('{{ "img/shape/7.png" | relURL }}')"
    ></div>
  </div>
  <!-- End Single Item -->
</div>
