<div
  class="blog-area blog-grid default-padding bottom-less"
  style="background-image: url(img/shape/28.png)"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="site-heading text-center">
          <h4 class="sub-title">Recent articles</h4>
          <h2 class="title">Latest news and insights</h2>
          <div class="devider"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Single item -->
      <div class="col-lg-4 col-md-6 single-item">
        <div class="item">
          <div class="thumb">
            <a href="blog-single-with-sidebar.html"
              ><img src='{{ "img/800x600.png" | relURL }}' alt="Thumb"
            /></a>
            <div class="tags">
              <a href="#">Research</a>
            </div>
          </div>
          <div class="info">
            <div class="meta">
              <ul>
                <li>
                  <a href="#"
                    ><i class="far fa-calendar-alt"></i> 12 Auguest, 2023</a
                  >
                </li>
                <li>
                  <a href="#"><i class="far fa-user-circle"></i> Admin</a>
                </li>
              </ul>
            </div>
            <h4>
              <a href="blog-single-with-sidebar.html"
                >Discovery earnestly public command mentions the main.</a
              >
            </h4>
            <a href="blog-single-with-sidebar.html" class="button-regular">
              Continue Reading <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- End Single item -->

      <!-- Single item -->
      <div class="single-item col-lg-4 col-md-6">
        <div class="item">
          <div class="thumb">
            <a href="blog-single-with-sidebar.html"
              ><img src='{{ "img/800x600.png" | relURL }}' alt="Thumb"
            /></a>
            <div class="tags">
              <a href="#">Analysis</a>
            </div>
          </div>
          <div class="info">
            <div class="meta">
              <ul>
                <li>
                  <a href="#"
                    ><i class="far fa-calendar-alt"></i> 15 November, 2023</a
                  >
                </li>
                <li>
                  <a href="#"><i class="far fa-user-circle"></i> Admin</a>
                </li>
              </ul>
            </div>
            <h4>
              <a href="blog-single-with-sidebar.html"
                >Considered imprudence of he friendship boisterous.</a
              >
            </h4>
            <a href="blog-single-with-sidebar.html" class="button-regular">
              Continue Reading <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- End Single item -->

      <!-- Single item -->
      <div class="single-item col-lg-4 col-md-6">
        <div class="item">
          <div class="thumb">
            <a href="blog-single-with-sidebar.html"
              ><img src='{{ "img/800x600.png" | relURL }}' alt="Thumb"
            /></a>
            <div class="tags">
              <a href="#">Performance</a>
            </div>
          </div>
          <div class="info">
            <div class="meta">
              <ul>
                <li>
                  <a href="#"
                    ><i class="far fa-calendar-alt"></i> 26 March, 2023</a
                  >
                </li>
                <li>
                  <a href="#"><i class="far fa-user-circle"></i> Admin</a>
                </li>
              </ul>
            </div>
            <h4>
              <a href="blog-single-with-sidebar.html"
                >Providing top quality cleaning and related services charms.</a
              >
            </h4>
            <a href="blog-single-with-sidebar.html" class="button-regular">
              Continue Reading <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- End Single item -->
    </div>
  </div>
</div>
