<div
  class="default-padding-top bottom-less overflow-hidden bottom-dark-120 shape-left-center"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="site-heading text-center">
          <h4 class="sub-title">We help you...</h4>
          <h2 class="title">
            Automate your email marketing whilst matching your content to your
            subscribers' preferences.
          </h2>
          <div class="devider"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="relative">
      <!-- Shape -->
      <div class="shape-arrow">
        <img src='{{ "img/shape/arrow.png" | relURL }}' alt="Shape" />
      </div>
      <!-- End Shape -->

      <div class="row">
        <!-- Single Item -->
        <div class="col-lg-4 col-md-6 feature-style-three">
          <div class="item">
            <div>
              <span>Increasing</span>
              <h3><a href="services-details.html">Engagement</a></h3>
            </div>
            <div class="icon bottom">
              <i class="flaticon-data-analysis-1"></i>
            </div>
            <p>
              FlipRSS customers see industry-leading engagement rates from their
              personalised email campaigns.
            </p>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-lg-4 col-md-6 feature-style-three">
          <div class="item">
            <div>
              <span>Saving</span>
              <h3><a href="services-details.html">Time</a></h3>
            </div>
            <div class="icon bottom">
              <i class="flaticon-cloud-service"></i>
            </div>
            <p>
              FlipRSS email campaigns are fully automated, saving you hours of
              time and ensuring consistency.
            </p>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-lg-4 col-md-6 feature-style-three">
          <div class="item">
            <div>
              <span>Growing</span>
              <h3><a href="services-details.html">Subscribers</a></h3>
            </div>
            <div class="icon bottom">
              <i class="flaticon-marketing-agent"></i>
            </div>
            <p>
              Subscribers only receive the content they're interested in,
              keeping them engaged for longer.
            </p>
          </div>
        </div>
        <!-- End Single Item -->
      </div>
    </div>
  </div>
</div>
