<div class="seo-expert-area overflow-hidden default-padding">
  <div class="container">
    <div class="row align-center">
      <div class="col-xl-6 col-lg-5 seo-expert-style-one">
        <h4 class="sub-title">Don't just take our word for it...</h4>
        <h2 class="title mb-30">Trusted by global brands</h2>
        <p>
          We pride ourselves on helping content producers of all sizes reach and
          engage with their audiences more effectively. This focus has lead to
          us working with customers from huge Government departments and leading
          Universities through to influencers and hyper local news websites.
        </p>
        <p>
          What they all have in common is a passion for delighting their
          subscribers.
        </p>
        {{/*  <a
          class="btn btn-md mt-20 circle btn-gradient animation"
          href="demo.html"
          >Request a demo<i class="fa fa-paper-plane"></i
        ></a>  */}}

        
          <!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fliprss/demo?hide_gdpr_banner=1'});return false;" class="btn btn-md mt-20 circle btn-gradient animation">Request a Demo <i class="fa fa-paper-plane"></i
          ></a>


      </div>

      <div class="col-xl-6 col-lg-7 seo-expert-style-one">
        <div class="seo-expert-items">
          <!-- Single Item -->
          <div class="seo-expert-item wow fadeInUp">
            <div class="thumb">
              <img src='{{ "img/LITNUTS800x800.png" | relURL }}' alt="Thumb" />
            </div>
            <div class="content">
              <h4>Litnuts</h4>
              <span>Indie Book Publisher</span>
            </div>
          </div>
          <!-- End Single Item -->

          <!-- Single Item -->
          <div class="seo-expert-item wow fadeInUp" data-wow-delay="300ms">
            <div class="thumb">
              <img src='{{ "img/HOC800x800.png" | relURL }}' alt="Thumb" />
            </div>
            <div class="content">
              <h4>House of Commons</h4>
              <span>Government Department</span>
            </div>
          </div>
          <!-- End Single Item -->

          <!-- Single Item -->
          <div class="seo-expert-item wow fadeInUp" data-wow-delay="500ms">
            <div class="thumb">
              <img src='{{ "img/ASDWA800x800.png" | relURL }}' alt="Thumb" />
            </div>
            <div class="content">
              <h4>ASDWA</h4>
              <span>US Professional Association</span>
            </div>
          </div>
          <!-- End Single Item -->
        </div>
      </div>
    </div>
  </div>
</div>
