<div class="brand-area default-padding text-light bg-gradient">

    <div class="container">

      <div class="brand-items">
        <div class="row align-center">
          <div class="col-lg-4">
            <h2>FlipRSS powering</h2>
            <h4>over <strong>11,000 RSS feeds</strong></h4>
          </div>
          <div class="col-lg-8">
            <div class="brand3col swiper">

              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <img src='/img/unis.png' alt="Thumb" />
                </div>


                <div class="swiper-slide">
                  <img src='/img/asdwa.png' alt="Thumb" />
                </div>


                <div class="swiper-slide">
                  <img src='/img/hoc.png' alt="Thumb" />
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="fun-factor-style-one mt-60 mt-xs-50">
        <div class="item-inner">
          <div class="row">
            <div class="col-lg-3 col-md-6 item">
              <div class="fun-fact">
                <div class="counter">
                  <div class="timer" data-to="3000" data-speed="2000">3000+</div>
                  <div class="operator"></div>
                </div>
                <span class="medium">Users</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 item">
              <div class="fun-fact">
                <div class="counter">
                  <div class="timer" data-to="50" data-speed="2000">50</div>
                  <div class="operator">k</div>
                </div>
                <span class="medium">Campaigns</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 item">
              <div class="fun-fact">
                <div class="counter">
                  <div class="timer" data-to="11" data-speed="2000">11</div>
                  <div class="operator">k+</div>
                </div>
                <span class="medium">RSS Feeds</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 item">
              <div class="fun-fact">
                <div class="counter">
                  <div class="timer" data-to="100000" data-speed="2000">100</div>
                  <div class="operator">k+</div>
                </div>
                <span class="medium">Subscribers</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>