<div class="breadcrumb-area text-center bg-cover bg-gray text-light"
    style="background-image: url('/img/shape/5b.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h1>Revolutionising Educational Communication with Automated, Personalised Email Campaigns</h1>

          <div class="devider">___</div>
          <h4>Seamlessly Integrate Multiple RSS Feeds to Deliver Timely, Targeted Content to Your Educational Community.
          </h4>
          <div class="button mt-40">
            <a href="https://www.youtube.com/watch?v=eCfcvkJPq-o"
              class="popup-youtube video-play-button optional light with-text">
              <div class="effect"></div>
              <span><i class="fas fa-play"></i> How FlipRSS works</span>
            </a>
          </div>
          <nav aria-label="breadcrumb">
            <!--<ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      
                      <a href="http://localhost:1313/" class=" text-light">Home</a>
                      
                    </li>
                <li class="breadcrumb-item active text-light" aria-current="page">Request a demo of FlipRSS, multi RSS-to-Email solution</li>
          </ol>-->
          </nav>
        </div>
      </div>
    </div>
  </div>