<div class="seo-expert-area overflow-hidden default-padding">
    <div class="curve-top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" fill="#04132E">
        <path
          d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z">
        </path>
      </svg>
    </div>

    <div class="container">
      <div class="row align-center">
        <div class="col-xl-6 col-lg-5 seo-expert-style-one">
          <h4 class="sub-title">Don't just take our word for it...</h4>
          <h2 class="title mb-30">Trusted by global brands</h2>
          <p>
            We pride ourselves on helping content producers of all sizes reach and
            engage with their audiences more effectively. This focus has lead to
            us working with customers from huge Government departments and leading
            Universities through to influencers and hyper local news websites.
          </p>
          <p>
            What they all have in common is a passion for delighting their
            subscribers.
          </p>
          <!-- Calendly link widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <a href=""
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fliprss/demo?hide_gdpr_banner=1'});return false;"
            class="btn btn-md mt-20 circle btn-gradient animation">Book a Demo</a>
          <!-- Calendly link widget end -->
        </div>

        <div class="col-xl-6 col-lg-7 seo-expert-style-one">
          <div class="seo-expert-items">

            <div class="seo-expert-item wow fadeInUp">
              <div class="thumb">
                <img src='/img/AUBURN800x800.png' alt="Thumb" />
              </div>
              <div class="content">
                <h4>Auburn University</h4>
                <span>University</span>
              </div>
            </div>



            <div class="seo-expert-item wow fadeInUp" data-wow-delay="300ms">
              <div class="thumb">
                <img src='/img/HOC800x800.png' alt="Thumb" />
              </div>
              <div class="content">
                <h4>House of Commons Library</h4>
                <span>Government Department</span>
              </div>
            </div>



            <div class="seo-expert-item wow fadeInUp" data-wow-delay="500ms">
              <div class="thumb">
                <img src='/img/ASDWA800x800.png' alt="Thumb" />
              </div>
              <div class="content">
                <h4>ASDWA</h4>
                <span>US Professional Association</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>