<div class="default-padding-top bottom-less overflow-hidden bottom-dark-120 bg-dark shape-left-center pb-120 pb-xs-60 ">
    <div class="container text-light ">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="site-heading text-center">
            <h4 class="sub-title">Easy to set up, hands free to maintain.</h4>
            <h2 class="title">
              Increase engagement through automated newsletters with content personalised to individual subscriber
              preferences and interests.
            </h2>
            <div class="devider"></div>
            <h4>One automated newsletter for faculty, students, alumni, donors and future students.</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="relative">

        <div class="shape-arrow">
          <img src='/img/shape/arrow.png' alt="Shape" />
        </div>


        <div class="row">

          <div class="col-lg-4 col-md-6 feature-style-three">
            <div class="item">
              <div>
                <span>Increasing</span>
                <h3><a href="services-details.html">Engagement</a></h3>
              </div>
              <div class="icon bottom">
                <i class="flaticon-data-analysis-1"></i>
              </div>
              <p>
                FlipRSS customers see industry-leading engagement rates from their
                personalised email campaigns.
              </p>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 feature-style-three">
            <div class="item">
              <div>
                <span>Saving</span>
                <h3><a href="services-details.html">Time</a></h3>
              </div>
              <div class="icon bottom">
                <i class="flaticon-cloud-service"></i>
              </div>
              <p>
                FlipRSS email campaigns are fully automated, saving you hours of
                time and ensuring consistency.
              </p>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 feature-style-three">
            <div class="item">
              <div>
                <span>Growing</span>
                <h3><a href="services-details.html">Subscribers</a></h3>
              </div>
              <div class="icon bottom">
                <i class="flaticon-marketing-agent"></i>
              </div>
              <p>
                Subscribers only receive the content they're interested in,
                keeping them engaged for longer.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>