<div class="contact-area default-padding">
  <div class="container">
    <div class="row">
      <div class="col-tact-stye-one col-lg-5 pr-60 pr-md-15 pr-xs-15">
        <div class="contact-style-one-info">
          <h2>Get in touch</h2>
          <p>
            We'd love to show you just how easy it is to automate your email
            campaigns and personalise the content your subscriber's receive.
          </p>
          <p>Just choose a convenient time for you.</p>
          <ul>
            <li class="wow fadeInUp" data-wow-delay="300ms">
              <div class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="info">
                <h4 class="title">Our Location</h4>
                <p>Isle of Man; GMT / BST</p>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="500ms">
              <div class="icon">
                <i class="fas fa-envelope-open-text"></i>
              </div>
              <div class="info">
                <h4 class="title">Official Email</h4>
                <a href="mailto:hello@fliprss.com">hello@fliprss.com</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-tact-stye-one col-lg-7">
        <div class="contact-form-style-one">
          <div class="illustration wow fadeInRight" data-wow-delay="300ms">
            <img
              src='{{ "img/illustration/20.png" | relURL }}'
              alt="Image Not Found"
            />
          </div>
          <h4 class="sub-heading">Want to see how FlipRSS works?</h4>
          <h2 class="heading">Schedule a demo</h2>
          <!-- Calendly inline widget begin -->
          <div
            class="calendly-inline-widget"
            data-url="https://calendly.com/fliprss/fliprss-demo"
            style="min-width: 320px; height: 700px"
          ></div>
          <script
            type="text/javascript"
            src="https://assets.calendly.com/assets/external/widget.js"
            async
          ></script>
          <!-- Calendly inline widget end -->
        </div>
      </div>
    </div>
  </div>
</div>
