<div class="pricing-style-two-area default-padding bottom-less">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="site-heading text-center">
          <h4 class="sub-title">Our Packages</h4>
          <h2 class="title">Select the best plan for you</h2>
          <div class="devider"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <!-- Single Itme -->
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="pricing-style-two">
          <div class="pricing-header">
            <i class="fas fa-rocket"></i>
            <h4>Lite</h4>
          </div>
          <div class="pricing-content">
            <ul>
              <li style="list-style: none">
                <i class="fas fa-check"></i> 1 automated campaign
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Up to 5 RSS feeds in the campaign
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Integrate with Mailchimp
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> FlipRSS branding
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Self Service
              </li>
              <li style="list-style: none"><i class="fas"></i> &nbsp</li>
              <li style="list-style: none"><i class="fas"></i> &nbsp</li>
              <li style="list-style: none"><i class="fas"></i> &nbsp</li>
            </ul>
            <div class="price">
              <h2>£29.99 <sub>/ Monthly</sub></h2>
            </div>
            <a
              class="btn mt-20 btn-md btn-border-dark animation circle"
              href="contact-us.html"
              >Select Plan</a
            >
          </div>
        </div>
      </div>
      <!-- End Single Itme -->

      <!-- Single Itme -->
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="pricing-style-two">
          <div class="pricing-header">
            <i class="fas fa-gem"></i>
            <h4>Pro</h4>
          </div>
          <div class="pricing-content">
            <ul>
              <li style="list-style: none">
                <i class="fas fa-check"></i> 1 automated campaign
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Up to 10 RSS feeds in the campaign
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Integrate with Mailchimp
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Subscriber Personalisation
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Removal of FlipRSS branding
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Self Service
              </li>
              <li style="list-style: none"><i class="fas"></i> &nbsp</li>
              <li style="list-style: none"><i class="fas"></i> &nbsp</li>
            </ul>
            <div class="price">
              <h2>£99 <sub>/ Monthly</sub></h2>
            </div>
            <a
              class="btn mt-20 btn-md btn-border-dark animation circle"
              href="contact-us.html"
              >Select Plan</a
            >
          </div>
        </div>
      </div>
      <!-- End Single Itme -->

      <!-- Single Itme -->
      <div class="col-xl-4 col-md-6 mb-30">
        <div class="pricing-style-two active">
          <div class="pricing-header">
            <i class="fas fa-crown"></i>
            <h4>Enterprise</h4>
          </div>
          <div class="pricing-content">
            <ul>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Unlimited automated campaigns
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Unlimited RSS feeds per campaign
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Integrate with Mailchimp
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Subscriber Personalisation
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Access to Custom Styling
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Post deduplication
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Removal of FlipRSS branding
              </li>
              <li style="list-style: none">
                <i class="fas fa-check"></i> Premium Support
              </li>
            </ul>
            <div class="price">
              <h2>POA <sub>/ Get in touch</sub></h2>
            </div>
            <a
              class="btn mt-20 btn-md btn-gradient effect circle"
              href="contact-us.html"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
      <!-- End Single Itme -->
    </div>
  </div>
</div>
