<div
  class="breadcrumb-area text-center bg-cover bg-gray"
  style="background-image: url('{{ "img/shape/5.png" | relURL }}')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1>Getting started and help guide</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li>
              <a href="{{ .Site.BaseURL }}"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>Help and Support</li>
            <li class="active">Troubleshooting</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
