<footer
  class="bg-dark text-light"
  style="background-image: url('{{ "img/shape/35.png" | relURL }}')"
>
  <div class="container">
    <div class="f-items default-padding">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-item pr-50 pr-xs-15 pr-md-15">
          <div class="about">
            <img
              class="logo"
              src='{{ "img/logo-light.png" | relURL }}'
              alt="Logo"
            />
            <p>
              We help match your content to your subscribers' interests through
              fully automated email campaigns. You save time, your subscribers
              get just the content they are interested in and your engagement
              and subscriber satisfaction grows.
            </p>
            <ul class="footer-social">
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 footer-item">
          <div class="link">
            <h4 class="widget-title">Key features</h4>
            <ul>
              <li>
                <a href="/rss-to-email">RSS-to-Email</a>
              </li>
              <li>
                <a href="services-details.html">Multiple RSS feeds</a>
              </li>
              <li>
                <a href="services-details.html">Subscriber preference</a>
              </li>
              <li>
                <a href="services-details.html"
                  >Personalised Content Delivery</a
                >
              </li>
              <li>
                <a href="services-details.html"
                  >Fully integrated with Mailchimp</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 footer-item adress-item">
          <h4 class="widget-title">Official Info</h4>
          <div class="address">
            <ul>
              <li>
                <div class="content">
                  <strong>Location:</strong>
                  FlipRSS is made in the Isle of Man
                </div>
              </li>
              <li>
                <div class="content">
                  <strong>Email:</strong>
                  <a href="mailto:info@validtheme.com">hello@fliprss.com</a>
                </div>
              </li>
            </ul>
            <p>
              <img
                class="logo"
                src='{{ "img/mailchimp-light.png" | relURL }}'
                alt="Logo"
              /><br />
              <a href="https://mailchimp.com/integrations/fliprss/"
                >Official Mailchimp Partner</a
              >
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 footer-item">
          <h4 class="widget-title">Newsletter</h4>
          <div class="newsletter">
            <p>Join our newsletter to see FlipRSS in action for yourself.</p>
            <form action="#">
              <input
                type="email"
                placeholder="Your Email"
                class="form-control"
                name="email"
              />
              <button type="submit">
                Subscribe Now <i class="fa fa-paper-plane"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Footer Bottom -->
  <div class="footer-bottom bg-dark-secondary">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p>
            &copy; 2016-2024 QUDO Digital Ltd. All Rights Reserved
            <a href="#">FlipRSS</a>
          </p>
        </div>
        <div class="col-lg-6 text-end">
          <ul>
            <li>
              <a href="about-us.html">Terms</a>
            </li>
            <li>
              <a href="about-us.html">Privacy</a>
            </li>
            <li>
              <a href="/contact">Cookie</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom -->
</footer>
