<!DOCTYPE html>
<html lang="en">
  {{ partialCached "head.html" . }}

  <body>
    {{ partialCached "ie_fix.html" . }}

    <!-- Header 
    ============================================= -->
    {{ partialCached "header.html" . }}
    <!-- End Header -->

    <!-- Start Breadcrumb 
    ============================================= -->
    {{ partialCached "demo/breadcrumb.html" . }}

    <!-- End Breadcrumb -->

    <!-- Start Contact Us 
    ============================================= -->
    {{ partialCached "demo/contact.html" . }}
    <!-- End Contact -->

    <!-- Start Footer 
    ============================================= -->
    {{ partialCached "footer.html" . }}
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    {{ partialCached "scripts.html" . }}
  </body>
</html>
