<div class="testimonial-style-two-area overflow-hidden relative pt-100 pt-xs-80 pb-80 pb-xs-60 bg-gradient">
    <div class="services-details-area default-padding text-light"
      style="background-image: url({{ "img/shape/37.png" | relURL }})">
      <div class="container">
        <div class="services-details-items">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="site-heading text-light text-center">
                <h4 class="sub-title">What's in the guide?</h4>
                <h2 class="title">Here's everything you can expect from the Mastering Email Marketing Guide.</h2>
                <div class="devider"></div>
              </div>
            </div>

            <div class="col-lg-8 pr-45 pr-md-15 pr-xs-15 services-single-content">


              <h2>Mastering Email Marketing</h2>


              <p>We’ve put this guide together as an easy reference document for email marketing. Each section covers
                off a key aspect of email marketing, giving tips, tools and hard-fought experience depending on where
                you are at in your email marketing journey. The aim was to produce a document showing how to progress
                your email marketing at the same time as making the most of where you are at currently, in a scannable
                and easy to follow format. Just jump to the section that interests you and hopefully you will find
                something to intrigue and inspire you.</p>
              <p>'Mastering Email Marketing' contains lots of easy to digest tips and experience-based lessons that you
                can scan and use to develop your email strategy and progression. Our goal in creating this guide has
                been to help you to improve the effectiveness and performance of your email marketing and ultimately to
                increase the satisfaction and engagement for your subscribers. We hope you find it helpful!
              </p>
              <div class="features mt-40 mt-xs-30 mb-30 mb-xs-20">
                <div class="row">
                  <div class="col-lg-7 col-md-6">
                    <div class="content">
                      <h3>Mastering Email Marketing Contents</h3>
                      <ul class="feature-list-item">
                        <li style="color: #ffffff;">B2B Email Challenges</li>
                      </ul>
                      <p style="font-weight: bold; color: #ffffff;">Part 1: Building a Strong Foundation</p>
                      <ul class="feature-list-item">
                        <li style="color: #ffffff;">The importance of going beyond basic email personalisation</li>
                        <li style="color: #ffffff;">How to use data-driven personalisation for better engagement</li>
                        <li style="color: #ffffff;">Optimising Email Timing: Best practices for scheduling emails</li>
                        <li style="color: #ffffff;">Optimising Email Timing: How timing impacts open rates and
                          engagement</li>
                      </ul>
                      <p style="font-weight: bold; color: #ffffff;">Part 2: Design and Delivery</p>
                      <ul class="feature-list-item">
                        <li style="color: #ffffff;">Mobile Optimisation: The necessity of responsive design</li>
                        <li style="color: #ffffff;">Tips for testing and ensuring mobile compatibility</li>
                        <li style="color: #ffffff;">Streamlining with Automation: How automation tools enhance
                          efficiency</li>
                        <li style="color: #ffffff;">Streamlining with Automation: Integrating AI to anticipate
                          subscriber behaviour</li>
                        <li style="color: #ffffff;">Integrating Email with Other Platforms: Benefits of seamless
                          integration between email platforms and other business tools</li>
                        <li style="color: #ffffff;">Integrating Email with Other Platforms: Examples of effective
                          platform integrations</li>
                      </ul>
                      <p style="font-weight: bold; color: #ffffff;">Part 3: Advanced Email Marketing Strategies</p>
                      <ul class="feature-list-item">
                        <li style="color: #ffffff;">Enhancing User Experience: Incorporating interactive elements in
                          emails</li>
                        <li style="color: #ffffff;">Enhancing User Experience: Techniques for maintaining a clean and
                          engaging design</li>
                        <li style="color: #ffffff;">Navigating Compliance and Privacy: Overview of GDPR and its
                          importance</li>
                        <li style="color: #ffffff;">Navigating Compliance and Privacy: Best practices for maintaining
                          compliance</li>
                        <li style="color: #ffffff;">The Satisfied Subscriber Manifesto</li>
                        <li style="color: #ffffff;">FlipRSS - Think Big, Act Small</li>
                      </ul>
                      <p style="font-weight: bold; color: #ffffff;">Part 4: Engagement and Retention</p>
                      <ul class="feature-list-item">
                        <li style="color: #ffffff;">Engaging Unresponsive Subscribers: Importance of targeted
                          re-engagement campaigns</li>
                        <li style="color: #ffffff;">Engaging Unresponsive Subscribers: Strategies for reactivating
                          dormant subscribers</li>
                        <li style="color: #ffffff;">Managing Subscriber Preferences: How giving control over preferences
                          reduces unsubscribe rates</li>
                        <li style="color: #ffffff;">Managing Subscriber Preferences: Tips for effective preference
                          management systems</li>
                      </ul>
                      <p style="font-weight: bold; color: #ffffff;">Part 5: Feedback and Improvement</p>
                      <ul class="feature-list-item">
                        <li style="color: #ffffff;">Collecting and Utilising Feedback: Methods for gathering actionable
                          feedback through emails</li>
                        <li style="color: #ffffff;">Collecting and Utilising Feedback: How to use feedback to improve
                          future campaigns</li>
                        <li style="color: #ffffff;">Effective Calls to Action: Crafting CTAs that convert</li>
                        <li style="color: #ffffff;">Effective Calls to Action: Testing and optimising calls to action
                        </li>
                      </ul>
                      <p style="font-weight: bold; color: #ffffff;">Part 6: Analysing Success</p>
                      <ul class="feature-list-item">
                        <li style="color: #ffffff;">Using A/B Testing to Refine Campaigns: The role of A/B testing in
                          optimising email strategies</li>
                        <li style="color: #ffffff;">Using A/B Testing to Refine Campaigns: Advanced testing methods for
                          deeper insights</li>
                        <li style="color: #ffffff;">Segmentation for Better Targeting: Techniques for advanced list
                          segmentation</li>
                        <li style="color: #ffffff;">Segmentation for Better Targeting: How segmentation improves
                          campaign effectiveness</li>
                      </ul>
                      <p style="font-weight: bold; color: #ffffff;">Part 7: Measuring and Maximising ROI</p>
                      <ul class="feature-list-item">
                        <li style="color: #ffffff;">Tracking Email Marketing ROI: Tools and techniques for measuring
                          campaign success</li>
                      </ul>
                      <p style="font-weight: bold; color: #ffffff;">Part 8: Recap of key points and summary</p>
                      <ul class="feature-list-item">
                        <li style="color: #ffffff;">Optimising Email Campaigns: A Holistic Approach:</li>
                        <li style="color: #ffffff;">Why adopt these email marketing tactics and strategies?</li>
                        <li style="font-weight: bold; color: #ffffff;">Next steps</li>
                      </ul>


                    </div>
                  </div>







                </div>
              </div>



            </div>

            <div class="col-lg-4 mt-md-50 mt-xs-50 services-sidebar">

              <div class="thumb pb-120 ">
                <img src='{{ "img/3D.png" | relURL }}' alt="Thumb" />
              </div>

              <div class="single-widget quick-contact-widget text-light">
                <div class="content">
                  <h2><a href="https://mailchimp.com/integrations/fliprss/">Official Mailchimp Partner</a></h2>
                  <p>
                    <img class="logo" src='{{ "img/mailchimp-light.png" | relURL }}' alt="Logo" /><br />

                  </p>
                  <p>
                    FlipRSS is proud to be an official Mailchimp Partner and
                    provides direct integration with the world's leading Email
                    Service Provider. FlipRSS personalises each subscriber's
                    newsletter and Mailchimp manages your lists, members and
                    delivery.
                  </p>
                </div>
              </div>


              <div class="single-widget quick-contact-widget text-light"
                style="background-image: url('{{ "img/map.png" | relURL }}')">
                <div class="content">
                  <h3>See for yourself</h3>
                  <p>
                    We understand your time is everything. If you'd like to see a
                    full demo of FlipRSS before investing time in setting up test
                    campaigns, please get in touch.
                  </p>

                  <!-- Calendly link widget begin -->
                  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async>
                  </script>
                  <a href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fliprss/demo?hide_gdpr_banner=1'});return false;"
                    class="btn btn-md mt-20 circle btn-gradient animation">Book a Demo</a>
                  <!-- Calendly link widget end -->
                </div>
              </div>


              <div class="single-widget widget-brochure">
                <h4 class="widget-title">Quick Links</h4>
                <ul>

                  <li>
                    <a href="#download"><i class="fas fa-link"></i> Download The Complete Guide</a>
                  </li>

                </ul>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>