<div class="breadcrumb-area text-center bg-cover bg-gray text-light"
    style="background-image: url('/img/shape/banner-4.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h1>Your Free Guide to Mastering Email Marketing</h1>


          <h4>A complete guide to help you improve your email marketing; from email basics to improving ROI.</h4>
          <div class="devider">___</div>
          <div class="button mt-40">
            <a href="#download" style="font-color:#000000;">
              <div class="effect"></div>
              <button
                style="background-color: #ffffff; padding:10px; border: none; border-radius: 4px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; font-color:#000000; margin: 4px 2px;"><span
                  style="color:#000000;"><i class="far fa-arrow-alt-circle-down"></i> Download the Guide</span></button>
            </a></br>
            <p style="font-size:12px;">or follow along on the blog...</p>
          </div>
          <nav aria-label="breadcrumb">
            <!--<ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      
                      <a href="http://localhost:1313/" class=" text-light">Home</a>
                      
                    </li>
                <li class="breadcrumb-item active text-light" aria-current="page">Request a demo of FlipRSS, multi RSS-to-Email solution</li>
          </ol>-->
          </nav>
        </div>
      </div>
    </div>
  </div>