<div class="choose-us-area default-padding">
    <div class="container">
      <div class="row align-center">
        <div class="col-lg-6">
          <div class="choose-us-style-one">
            <div class="animate-illustration">
              <img src='{{ "img/illustration/v.png" | relURL }}' alt="illustration" />
              <div class="sub-item">
                <img class="wow pulse" src='{{ "img/illustration/v8.png" | relURL }}' alt="illustration" />
                <img class="wow fadeInLeft" data-wow-delay="300ms" src='{{ "img/illustration/s5.png" | relURL }}'
                  alt="illustration" />
                <img class="wow fadeInUp" src='{{ "img/illustration/v1.png" | relURL }}' alt="illustration" />
                <img class="wow fadeInDown" data-wow-delay="400ms" src='{{ "img/illustration/v5.png" | relURL }}'
                  alt="illustration" />
                <img class="wow fadeIn" data-wow-delay="500ms" src='{{ "img/illustration/v6.png" | relURL }}'
                  alt="illustration" />
                <img src='{{ "img/illustration/v3.png" | relURL }}' alt="illustration" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 pl-50 pl-md-15 pl-xs-15">
          <div class="choose-us-style-one">
            <h4 class="sub-heading">Why Choose Us</h4>
            <h2 class="heading">Small team, BIG on support</h2>
            <p>
              Getting campaigns up and running quickly and easily is our key
              focus. As well as constantly developing our platform, we work
              tirelessly to help you get the most from FlipRSS and your email
              marketing. We don't just listen. We roll up our sleeves and get
              stuck in to help make your email campaigns the best in the industry.
              Any questions? <a href="#">Get in touch</a>.
            </p>
            <ul>
              <li>
                <div class="list-item">
                  <div class="item">
                    <h5>Customer Success</h5>
                    <span>We're committed to helping you succeed.</span>
                  </div>
                  <div class="item">
                    <h5>Convenience</h5>
                    <span>FlipRSS is easy to use and once set up, hands free.</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="progressbar">
                  <div class="circle" data-percent="100">
                    <strong></strong>
                  </div>
                  <h4>Uptime</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>